<div class="activity-list">
    <div class="activity-list__header">
        <div class="activity-list__summary">
            <span class="title">Next Trips</span>&nbsp;
            <span class="item__count">5</span>
        </div>
        
        <div 
            class="activity-list__toggle"
            (click)="toggleBody()"
        >
            <i class="fa-solid fa-plus" *ngIf="!isExpanded"></i>
            <i class="fa-solid fa-minus" *ngIf="isExpanded"></i>
        </div>
    </div>

    <div class="activity-list__body" *ngIf="isExpanded">
        <app-driver-next-activity-item></app-driver-next-activity-item>
        <app-driver-next-activity-item></app-driver-next-activity-item>
        <app-driver-next-activity-item></app-driver-next-activity-item>
        <app-driver-next-activity-item></app-driver-next-activity-item>
        <app-driver-next-activity-item></app-driver-next-activity-item>
    </div>
</div>
