@import '../../../../styles/colors';
@import '../../../../styles/dimensions';
@import '../../../../styles/fonts';
@import '../../../../styles/mixins';


.activity-list {
    display: flex;
    flex-direction: column;
    margin: $margin-xs 0;

    &__header {
        @include row;
        align-items: flex-end;
    }

    &__summary {
        @include row;
        background-color: $white;
        border-bottom: $border-md solid darken($gray-dark, 10);
        flex: 1;
        font-size: $font-size-md;
        justify-content: flex-start;
        padding-bottom: $padding-xs;

        .title {
            font-style: italic;
            font-weight: 600;
        }

        .item__count {
            align-items: center;
            border-radius: 50%;
            background-color: $yellow-dark;
            color: $white;
            display: flex;
            height: 20px;
            justify-content: center;
            width: 20px;
        }
    }

    &__toggle {
        background-color: $gray-dark;
        border-left: $border-md solid darken($gray-dark, 20);
        border-right: $border-md solid darken($gray-dark, 20);
        border-top: $border-md solid darken($gray-dark, 20);
        border-top-left-radius: $border-radius-md;
        border-top-right-radius: $border-radius-md;
        color: $white;
        padding: $padding-xs $padding-sm;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }

    &__body {
        background-color: $gray-dark;
        border-bottom: $border-md solid darken($gray-dark, 20);
        border-left: $border-md solid darken($gray-dark, 20);
        border-right: $border-md solid darken($gray-dark, 20); 
        border-bottom-left-radius: $border-radius-md;   
        border-bottom-right-radius: $border-radius-md;            
        padding: $padding-sm;
    }
}