@import '../../../styles/colors';

.spinner {
    $size: 175px;

    align-items: center;
    display: flex;
    font-weight: 600;
    height: $size;
    justify-content: center;
    position: relative;
    width: $size;

    &:before {
        animation: spinner 1.5s linear infinite;
        border-radius: 50%;
        border-top: 3px solid $black;
        border-right: 3px solid transparent;
        content: '';
        height: $size;
        position: absolute;
        width: $size;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}