<header class="header bg-white p-2">
    <h2 class="header__title">Plan Assist</h2>

    <ng-container *ngIf="!(dataService.isLoadingData | async)">
        <app-global-kpi 
            *ngFor="let kpi of kpiService.getData() | async"
            [label]="kpi.label"
            [value]="kpi.value"></app-global-kpi>
    </ng-container>

    <app-main-button 
        label="Optimize"
        (click)="optimize()"></app-main-button>
</header>
