@import '../../../styles/colors';
@import '../../../styles/dimensions';
@import '../../../styles/fonts';
@import '../../../styles/mixins';


.header {
    @include row;    
    border-bottom: $border-lg solid $yellow;
    height: 70px;

    &__title {
        color: $black;
        font-size: $font-size-xl;
        font-style: italic;
        font-weight: 800;
        text-transform: uppercase;
    }
}