<div class="activity">
    <div class="activity__summary" (click)="toggleAccordeon()">

        <app-badge
            [label]="'Delivery'"></app-badge>

        <div>
            <i class="fa-solid fa-signs-post"></i>&nbsp;
            <span>17 JUN / 16h30</span>
        </div>

        <div>
            <i class="fa-solid fa-map-location"></i>&nbsp;
            <span>L'Oréal, Montreal H2A 2H5</span>
        </div>

        <div>
            <i class="fa-solid fa-pallet"></i>&nbsp;
            <span>25 pallets / 45000 lbs</span>
        </div>

        <div class="activity__status">
            <span class="label">Status:</span>&nbsp; 
            <span class="value">LTL</span>
        </div>
    </div>

    <div class="activity__orders" *ngIf="isExpanded">
        <div class="order">
            <div class="order__client">
                <i class="fa-solid fa-box-open"></i>&nbsp;
                Glencore, Montreal-Est, H7Z 5B3
            </div>

            <div class="order__detail">
                10 pallets / 20000 lbs
            </div>

            <div class="order__date">
                Del: 18-JUN 10h00
            </div>
        </div>

        <div class="order">
            <div class="order__client">
                <i class="fa-solid fa-box-open"></i>&nbsp;
                Pro-Ampac, Terrebonne, H8U 7Z7
            </div>

            <div class="order__detail">
                8 pallets / 15000 lbs
            </div>

            <div class="order__date">
                Del: 19-JUN 14h00
            </div>
        </div>
    </div>
</div>
