@import '../../../../styles/colors';
@import '../../../../styles/dimensions';
@import '../../../../styles/fonts';
@import '../../../../styles/mixins';

.activity {
    background-color: $gray-dark;
    border-bottom: $border-md solid $gray-light;
    font-size: $font-size-xs;
    padding: $padding-sm;

    &:hover {
        background-color: $gray-darker;
        cursor: pointer;
    }

    &__summary {
        @include row;
    }

    &__status {
        .value {
            color: $yellow-dark;
            font-weight: 800;
            text-transform: uppercase;
        }
    }

    &__orders {
        background: $white;
        display: flex;
        flex-direction: column;
        margin-top: $margin-md;
        padding: $padding-sm $padding-md;
    }
}

.order {
    @include row;
    margin: $margin-xs 0;
}