<app-order-menu
    [cityList]="cityList"
    (filterItems)="onFiltersChange($event)"></app-order-menu>

<div>
    <div *ngFor="let item of ordersByCity | keyvalue">
        <h4>{{ item.key }}</h4>

        <div *ngFor="let order of item.value">
            <div>Order Ref : {{ order.displayReference }}</div>
            <div>
                Drops
                <ul>
                    <li *ngFor="let drop of order.drops">
                        <div>Pickup Client : {{ drop.pickupClient.clientName }}</div>
                        <div>Delivery Client : {{ drop.deliveryClient.clientName }}</div>
                    </li>
                </ul>
            </div>
            <hr />
        </div>
    </div>
</div>
