$white: #ffffff;
$black: #000000;

$gray-light: #eeeeee;
$gray: darken($gray-light, 5);
$gray-dark: darken($gray-light, 10);
$gray-darker: darken($gray-light, 20);

$yellow: #fbbb24;
$yellow-dark: darken($yellow, 20);
$yellow-light: lighten($yellow, 20);

