$margin-xl: 32px;
$margin-lg: 24px;
$margin-md: 16px;
$margin-sm: 8px;
$margin-xs: 4px;
$margin-xxs: 2px;

$padding-xl: 32px;
$padding-lg: 24px;
$padding-md: 16px;
$padding-sm: 8px;
$padding-xs: 4px;
$padding-xxs: 2px;

$border-xl: 3px;
$border-lg: 2px;
$border-md: 1px;

$border-radius-lg: 8px;
$border-radius-md: 4px;
$border-radius-sm: 2px;
