@mixin row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin column {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}