<app-card>
    <div class="menu" [formGroup]="form">
        <app-switch
            label="Assigned Drivers"
            formControlName="driverAssigned"></app-switch>

        <app-switch
            label="Expand All"
            formControlName="expandItems"></app-switch>

        <app-input
            placeholder="Driver's Name..."
            formControlName="driverName"></app-input>
    </div>
</app-card>
