<app-card>
    <div class="menu" [formGroup]="form">  
        <div formGroupName="main">
            <app-tabs 
                formControlName="typeFilter"
                [tabs]="[{label: 'Deliveries', value: 'deliveries'}, {label: 'Pickups', value: 'pickups'}]"></app-tabs>
        </div>
        
        <div formGroupName="sub">
            <app-input
                placeholder="Client Name..."
                formControlName="clientNameFilter"></app-input>

            <app-input
                placeholder="Order Ref..."
                formControlName="orderRefFilter"></app-input>
            
            <app-combo 
                formControlName="cityFilter"
                [optionList]="cityList"
                [placeholder]="'Select a City...'"></app-combo>  
        </div>
    </div>
</app-card>
