@import '../../../styles/dimensions';

.menu > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-between;
    margin: $margin-sm 0;

    &:nth-child(1) {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}