@import '../../../styles/colors';

.btn_main {
    align-items: center;
    background-color: $black;
    color: $white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    transition: all .25 ease;

    &:hover {
        cursor: pointer;
        opacity: .8;
    }
}