@import '../../../../styles/colors';
@import '../../../../styles/dimensions';
@import '../../../../styles/fonts';
@import '../../../../styles/mixins';

.summary {
    @include row;
    border-bottom: $border-md solid $gray-dark;    
    margin-bottom: $margin-xs;
    padding-bottom: $padding-sm;

    &__driver-name {
        border-bottom: $border-lg solid $yellow;
        font-size: $font-size-lg;
        font-style: italic;
        font-weight: 600;
        padding-bottom: $padding-xs;
        width: 200px;

        i {
            color: $yellow;
        }
    }

    &__ids {
        @include row;

        & > span {
            display: inline-block;
            background-color: $black;
            color: $white;
            font-size: .6rem;
            padding: $padding-xs $padding-sm;
        }
    }
}

