<div class="summary">

    <div class="summary__driver-name">
        <i class="fa-solid fa-user"></i>&nbsp;
        <span>{{ driver.name }}</span>
    </div>

    <div class="summary__driver-location">
        <i class="fa-solid fa-location-crosshairs"></i>
    </div>

    <div class="summary__ids">
        <i class="fa-solid fa-truck"></i>&nbsp;
        <span>Truck ID: #12345678 Trailer ID: #12345678</span>
    </div>
</div>
