@import '../../../../styles/colors';
@import '../../../../styles/dimensions';
@import '../../../../styles/fonts';
@import '../../../../styles/mixins';

.current {
    background-color: $gray-dark;
    border: $border-md solid darken($gray-dark, 10);
    border-radius: $border-radius-md;
    font-size: $font-size-xs;
    padding: $padding-sm;

    &__summary {
        @include row;
    }

    &__status {
        .value {
            color: $yellow-dark;
            font-weight: 800;
            text-transform: uppercase;
        }
    }

    &__capacity-detail {
        @include row;        
        background: $white;
        justify-content: space-around;
        margin-top: $margin-md;
        padding: $padding-sm $padding-md;
    }
}

.capacity-item {
    @include row;

    &__label {
        font-style: italic;
        margin-right: $margin-sm;
    }

    &__graph {
        align-items: center;
        display: flex;
        flex-direction: column;

        & > .bar {
            border: 1px solid $gray-light;
            height: 15px;
            margin: $margin-sm 0;
            position: relative;
            width: 100px;

            &::after {
                content: '';
                background: $yellow-light;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 80%;
            }
        }
    }
}