<div class="current">
    <div class="current__summary">

        <app-badge
            [label]="'Delivery'"></app-badge>

        <div>
            <i class="fa-solid fa-signs-post"></i>&nbsp;
            <span>5km - 1h25m</span>
        </div>

        <div>
            <i class="fa-solid fa-map-location"></i>&nbsp;
            <span>L'Oréal, Montreal H2A 2H5</span>
        </div>

        <div>
            <i class="fa-solid fa-pallet"></i>&nbsp;
            <span>25 pallets / 45000 lbs</span>
        </div>

        <div class="current__status">
            <span class="label">Status:</span>&nbsp; 
            <span class="value">LTL</span>
        </div>
    </div>

    <div class="current__capacity-detail">
        <div class="capacity-item">
            <div class="capacity-item__label">Linear Capacity</div>

            <div class="capacity-item__graph">
                <div class="before">Before: 25' / 53'</div>
                <div class="bar"></div>
                <div class="after">After: 0' / 53'</div>
            </div>
        </div>

        <div class="capacity-item">
            <div class="capacity-item__label">Pallets</div>

            <div class="capacity-item__graph">
                <div class="before">Before: 12 / 26</div>
                <div class="bar"></div>
                <div class="after">After: 0 / 26</div>
            </div>
        </div>

        <div class="capacity-item">
            <div class="capacity-item__label">Weight</div>

            <div class="capacity-item__graph">
                <div class="before">Before: 20000 / 45000 lbs</div>
                <div class="bar"></div>
                <div class="after">After: 0 / 45000 lbs</div>
            </div>
        </div>
    </div>
</div>
