<app-header></app-header>

<main class="main" *ngIf="!(dataService.isLoadingData | async); else spinner">
    <div class="main__left p-2">
        <app-driver-page></app-driver-page>
    </div>

    <div class="main__right p-2">
        <app-order-page></app-order-page>
    </div>
</main>

<ng-template #spinner>
    <main class="main_loading">
        <app-spinner></app-spinner>
    </main>
</ng-template>