@import '../styles/colors';

.main {
    background: linear-gradient(-20deg, $yellow 50%, $yellow, $gray-light, $gray-light 50%);
    display: flex;
    flex-direction: row;
    height: calc(100vh - 70px);
    overflow: hidden;
    width: 100%;

    &__left {
        background: transparent;
        flex: 7;
    }

    &__right {
        background: transparent;
        flex: 5;
    }
}

.main_loading {
    align-items: center;
    background: linear-gradient(-20deg, $yellow 50%, $yellow, $gray-light, $gray-light 50%);
    display: flex;
    flex-direction: row;
    height: calc(100vh - 70px);
    justify-content: center;
    overflow: hidden;
    width: 100%;
}