@import '../../../styles/colors';
@import '../../../styles/dimensions';
@import '../../../styles/fonts';

.combo {
    $height: 32px;
    $width: 170px;

    margin: 0 $margin-xs;

    &__input {
        border: $border-md solid $gray-dark;
        border-radius: $border-radius-md;
        height: $height;
        width: $width;
        padding: $padding-xxs $padding-xs;

        &:focus {
            border: $border-lg solid $yellow;
            outline: none;
        }
    }

    &__list {
        background: $white;
        box-shadow: 0 0 10px rgba($black, .2);
        margin-top: $margin-xs;
        padding: $padding-xs;
        position: absolute;
        width: $width;
        z-index: 999;
    }

    &__list-item {        
        overflow: hidden;
        font-size: $font-size-sm;
        text-overflow: ellipsis;
        transition: all .5s ease;
        white-space: nowrap;

        &:hover {
            background: $yellow-light;
            cursor: pointer;
            padding: 0 15px;
        }
    }

    &__result {
        align-items: center;
        border: 1px solid $gray-dark;
        border-radius: $border-radius-md;
        display: flex;
        height: $height;
        width: $width;
        padding: $padding-xxs $padding-xs;

        & > span {
            background-color: $yellow-light;
            border-radius: $border-radius-sm;
            font-size: $font-size-sm;
            overflow: hidden;
            padding: $padding-xxs $padding-xs;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                cursor: pointer;
            }
        }
    }
}