<div class="combo">
    <input type="text" 
        class="combo__input"
        *ngIf="!optionSelected"
        [placeholder]="placeholder"
        (input)="setQuery(queryInput.value)"
        (focus)="showListOfOptions()"        
        #queryInput>

    <div class="combo__list" *ngIf="isListOfOptionsVisible">
        <div 
            *ngFor="let option of filterListOfOptions()"
            (click)="selectOption(option)"
            class="combo__list-item">{{ option.label }}</div>
    </div>

    <div class="combo__result" *ngIf="optionSelected">
        <span (click)="resetSelection()">x&nbsp;{{ optionSelected.label }}</span>
    </div>
</div>
