@import '../../../styles/colors';

.toggle {
    $width: 40px;
    $height: calc($width / 2);
    $borderRadius: calc($height / 2);

    cursor: pointer;
    display: flex;
    flex-direction: row;

    &__input {
        display: none;
    }

    &__fill {        
        background: $gray;
        border-radius: $borderRadius;
        height: $height;
        position: relative;
        transition: background .2s;
        width: $width;
    }

    &__fill::after {
        content: '';
        background: $white;
        border-radius: $borderRadius;
        box-shadow: 0 0 10px rgba(0,0,0,.25);
        height: calc($height - 4px);
        left: 2px;
        position: absolute;
        top: 2px;
        transition: transform .2s;
        width: calc($height - 4px);
    }

    &__input:checked ~ &__fill {
        background: $yellow-light;
    }

    &__input:checked ~ &__fill::after {
        transform: translateX($height);
    }

    &__label {
        margin: 0 5px;
    }
}