<div class="toggle" (click)="onToggle()">
    <input class="toggle__input" type="checkbox" [checked]="isChecked">

    <div class="toggle__label">{{ label }}</div>    
    <div class="toggle__fill"></div>
</div>
