@import '../../../styles/colors';
@import '../../../styles/dimensions';

.label {
    background: $yellow-dark;
    border-radius: $border-radius-md;
    color: $white;
    font-size: inherit;
    padding: $padding-xs $padding-sm;
}