<div class="tabs">
    <div 
        class="tabs__item"
        [ngClass]="{'active': item.value === selectedTab?.value}" 
        *ngFor="let item of tabs"
        (click)="selectTab(item)">

        {{ item.label }}
    </div>
</div>
