@import '../../../styles/colors';
@import '../../../styles/dimensions';
@import '../../../styles/fonts';

.tabs {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;

    &__item {
        padding: $padding-xs $padding-md;
        transition: all .6s ease;

        &:hover {
            cursor: pointer;
        }

        &.active {
            background-color: $yellow-light;
            border-radius: $border-radius-md;
        }
    }
}