<div class="m-2">
    <app-card>
        <app-driver-summary [driver]="driver"></app-driver-summary>

        <app-driver-current-activity></app-driver-current-activity>
        
        <app-driver-next-activity-list [isExpanded]="isExpanded"></app-driver-next-activity-list>
    </app-card>
</div>

