<div class="input">
    <input type="text" 
        class="input__input"
        *ngIf="!inputValue"
        [placeholder]="placeholder"
        (blur)="setInputValue(textInput.value)"        
        #textInput>
    
    <div class="input__result" *ngIf="inputValue">
        <span (click)="resetInputValue()">x&nbsp;{{ inputValue }}</span>
    </div>
</div>
