@import '../../../styles/colors';
@import '../../../styles/dimensions';
@import '../../../styles/fonts';

.input {
    $height: 32px;
    $width: 170px;

    margin: 0 $margin-xs;

    &__input {
        border: $border-md solid $gray-dark;
        border-radius: $border-radius-md;
        height: $height;
        width: $width;
        padding: $padding-xxs $padding-xs;

        &:focus {
            border: $border-lg solid $yellow;
            outline: none;
        }
    }

    &__result {
        align-items: center;
        border: $border-md solid $gray-dark;
        border-radius: $border-radius-md;
        display: flex;
        height: $height;
        width: $width;
        padding: $padding-xxs $padding-xs;

        & > span {
            background-color: $yellow-light;
            border-radius: $border-radius-sm;
            font-size: $font-size-sm;
            padding: $padding-xxs $padding-xs;

            &:hover {
                cursor: pointer;
            }
        }
    }
}