@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');
@import './styles/colors';
@import './styles/dimensions';
@import './styles/fonts';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-gr;
}

input, 
select, 
textarea, 
button {
    font-family:inherit;
}

.bg-white {
    background-color: $white;
}

.bg-yellow {
    background-color: $yellow;
}

.m-4 {
    margin: $margin-xl;
}

.mx-4 {
    margin-left: $margin-xl;
    margin-right: $margin-xl;
}

.my-4 {
    margin-bottom: $margin-xl;
    margin-top: $margin-xl;
}

.m-3 {
    margin: $margin-lg;
}

.mx-3 {
    margin-left: $margin-lg;
    margin-right: $margin-lg;
}

.my-3 {
    margin-bottom: $margin-lg;
    margin-top: $margin-lg;
}

.m-2 {
    margin: $margin-md;
}

.mx-2 {
    margin-left: $margin-md;
    margin-right: $margin-md;
}

.my-2 {
    margin-bottom: $margin-md;
    margin-top: $margin-md;
}

.m-1 {
    margin: $margin-sm;
}

.mx-1 {
    margin-left: $margin-sm;
    margin-right: $margin-sm;
}

.my-1 {
    margin-bottom: $margin-sm;
    margin-top: $margin-sm;
}

.p-4 {
    padding: $padding-xl;
}

.px-4 {
    padding-left: $padding-xl;
    padding-right: $padding-xl;
}

.py-4 {
    padding-bottom: $padding-xl;
    padding-top: $padding-xl;
}

.p-3 {
    padding: $padding-lg;
}

.px-3 {
    padding-left: $padding-lg;
    padding-right: $padding-lg;
}

.py-3 {
    padding-bottom: $padding-lg;
    padding-top: $padding-lg;
}

.p-2 {
    padding: $padding-md;
}

.px-2 {
    padding-left: $padding-md;
    padding-right: $padding-md;
}

.py-2 {
    padding-bottom: $padding-md;
    padding-top: $padding-md;
}

.p-1 {
    padding: $padding-sm;
}

.px-1 {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
}

.py-1 {
    padding-bottom: $padding-sm;
    padding-top: $padding-sm;
}


