@import '../../../styles/colors';
@import '../../../styles/dimensions';

.kpi {
    display: flex;
    flex-direction: row;

    &__label {
        margin-right: $margin-xs;
    }

    &__value {
        color: $yellow;
        font-weight: bold;
    }
}